@import "tailwindcss";

body {
  background-color: #020617;
  color: #f8fafc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
}
